[submodule "TangNano-9K-example"]
	path = archive/TangNano-9K-example
	url = https://github.com/splinedrive/TangNano-9K-example
[submodule "asic/tt06_KianV-RV32IMA-RISC-V-uLinux-SoC"]
	path = asic/tt06_KianV-RV32IMA-RISC-V-uLinux-SoC
	url = https://github.com/splinedrive/KianV-RV32IMA-RISC-V-uLinux-SoC
